* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fix {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.input {
  font-size: 28px;
  color: #000;
  width: 50%;
  margin: auto;
  padding: 3px;
}

.ar-text {
  font-size: 30px;
  color: black;
}

.ar-characters-title {
  background-image: linear-gradient(90deg, transparent, #205b96), url('../../image/continent-icon-13.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.ar-characters-text {
  width: calc(100%);
  padding-left: 4px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.ar-characters {
  background-color: #1d4e80;
  background-image: url('../../image/dark-mosaic.png');
  display: flex;
  flex-wrap: wrap;
}

.text {
  color: antiquewhite;
  font-size: 2.9em;
  padding: 45px;
  text-shadow: 0 0 10px #000;
  width: 100%;
}

.vitor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2px;
}

.character-title {
  width: 100%;
  background-color: #18395d;
  background-image: url('../../image/dark-mosaic.png');
  color: white;
  padding: 30px 40px;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.individual-character {
  background-color: #0d4781;
  background-image: url('../../image/dust.png');
  width: calc(90% / 2);
  aspect-ratio: 1 / 1;
  padding: 25px 10px;
  height: 15vh;
}

.individual-character:nth-child(2),
.individual-character:nth-child(3),
.individual-character:nth-child(6) {
  background-color: #022344;
  background-image: url('../../image/double-lined.png');
}

@media all and (min-width: 768px) {
  .marvel-characters-title {
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center;
    text-align: center;
  }

  .individual-character {
    background-color: #1d4e80;
    background-image: url('../../image/double-lined.png');
    width: calc(95% / 3);
    aspect-ratio: 1 / 1;
    padding: 150px 20px;
    height: 40vh;
  }

  .individual-character:nth-child(2),
  .individual-character:nth-child(4),
  .individual-character:nth-child(6) {
    background-color: #1d4e80;
    background-image: url('../../image/dust.png');
  }

  .individual-character:nth-child(3) {
    background-color: #1d4e80;
    background-image: url('../../image/double-lined.png');
  }
}
