@import url('http://fonts.cdnfonts.com/css/gill-sans');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gill Sans, lato, sans-serif;
  color: #fff;
}
